<%= simple_form_for(@calendar_event, remote: request.xhr?, html: {data: {modal: true}, class: 'form-horizontal'}) do |f| %>
    <% if @calendar_event.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @calendar_event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.input :title, input_html: {class: 'form-control'} %>

    <% if @calendar_event.all_day.nil? %>
        <%= f.input :all_day %>
    <% else %>
        <%= f.input :all_day, as: :hidden %>
    <% end %>

    <!--TODO DATETIME PICKER-->
    <%= f.input :start_date, as: :string, input_html: {class: 'form-control', id: 'start_date_picker',
                                                       value: @calendar_event.start_date ? @calendar_event.start_date.strftime('%d.%m.%Y %H:%M') : '' }%>
    <!--TODO DATETIME PICKER-->
    <%= f.input :end_date, as: :string, input_html: {class: 'form-control datetimepicker', id: 'end_date_picker',
                                                     value: @calendar_event.end_date ? @calendar_event.end_date.strftime('%d.%m.%Y %H:%M') : '' }%>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
      <% if params[:action] == 'edit' %>
          <%= link_to 'Destroy', @calendar_event, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>
<% end %>

<script>
  init_datetime_picker();
</script>
