<div class="diary day_calendar">
  <div class="calendar-head">
    <div class="left-panel">
      <%= link_to t('diary.previous', default: 'Пред.'), calendar.prev_page, class: 'btn btn-default' %>
      <%= link_to t('diary.next', default: 'След.'), calendar.next_page, class: 'btn btn-default' %>
      <%= link_to t('diary.today', default: 'Сегодня'), calendar.today, class: 'btn btn-default' %>
    </div>
    <span class="date-title"><%= start_date.strftime('%B %d, %Y') %></span>
    <div class="right-panel">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to new_calendar_event_path, data: {modal: true} do %>
                Добавить событие <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <% end %></li>
          <% if user %>
              <li data-toggle="modal" data-target="#google-import">
                <a>Google import <span class="glyphicon glyphicon-import" aria-hidden="true"></span></a></li>
              <li><a>Google export <span class="glyphicon glyphicon-export" aria-hidden="true"></span></a></li>
          <% end %>
        </ul>
      </div>
      <div class="btn-group">
        <%= link_to t('diary.today', default: 'День'), calendar.to_calendar('day_calendar'), class: 'btn btn-default' %>
        <%= link_to t('diary.today', default: 'Неделя'), calendar.to_calendar('week_calendar'), class: 'btn btn-default' %>
        <%= link_to t('diary.today', default: 'Месяц'), calendar.to_calendar('month_calendar'), class: 'btn btn-default' %>
      </div>
    </div>
  </div>

  <%= render partial: 'calendar_templates/google_modal', locals: {user: user} if user %>

  <table class="table day_table droppable_table">
    <thead>
    <tr class="table-header">
      <td class="hours">Hours</td>
      <%= content_tag :td, class: calendar.td_classes_for(start_date) << 'date', data: {date: start_date.to_date, all_day: true, modal: true}  do %>
          <h4><%= start_date.strftime('%A') %></h4>
      <% end %>
    </tr>
    </thead>
  </table>

  <table class="table day_table">
    <tbody>
    <tr>
      <td style="border: none">
        <div style="position: relative">
          <div class="day-event-content">
            <table class="table day_table">
              <tbody>
              <tr>
                <td class="hours"></td>
                <%= content_tag :td, class: calendar.td_classes_for(start_date) do %>
                <% end %>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="all_day_row">
            <table class="all_day_table">
              <tr>
                <td class="hours">AllDay</td>
                <td>
                  <div class="all_day_scrollable for_day">
                    <table>
                      <tbody class="all_day_content day_calendar">
                      <% (sorted_events.select { |key| key === start_date }).each do |pair| %>
                          <% pair.fetch(1).each do |event| %>
                              <% next if !event.all_day %>
                              <% event_data = 'data-id=' + event.id.to_s + ' data-all-day=' + event.all_day.to_s + ' data-start-date=' +
                                  event.start_date.to_datetime.to_s + ' data-end-date=' + event.end_date.to_datetime.to_s  %>
                              <tr>
                                <td>
                                  <div <%= event_data%> class="event week_event"><%= event.title %></div>
                                </td>
                              </tr>
                          <% end %>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="day-scrollable">
            <div style="position: relative">
              <table class="day_table_row">
                <% (0 .. 84600).step(1800) do |hour| %>
                    <% time = Time.at(hour).utc %>
                    <tr>
                      <td class="hours"><%= time.strftime('%H:%M') %></td>
                      <td></td>
                    </tr>
                <% end %>
              </table>

              <div class="day-event-content">
                <table class="table event_hour_table">
                  <tbody>
                  <tr>
                    <td class="hours"></td>
                    <%= render partial: 'calendar_templates/hour_events_template', locals: {sorted_events: sorted_events, day: start_date} %>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
