<div class="diary day_calendar">
  <div class="calendar-head">
    <div class="left-panel">
      <%= link_to t('diary.previous', default: 'Пред.'), calendar.prev_page, class: 'btn btn-default' %>
      <%= link_to t('diary.next', default: 'След.'), calendar.next_page, class: 'btn btn-default' %>
      <%= link_to t('diary.today', default: 'Сегодня'), calendar.today, class: 'btn btn-default' %>
    </div>
    <span class="date-title"><%= start_date.strftime('%B %d, %Y') %></span>
    <div class="right-panel">
      <div class="btn-group">
        <%= link_to t('diary.today', default: 'День'), calendar.to_calendar('day_calendar'), class: 'btn btn-default' %>
        <%= link_to t('diary.today', default: 'Неделя'), calendar.to_calendar('week_calendar'), class: 'btn btn-default' %>
        <%= link_to t('diary.today', default: 'Месяц'), calendar.to_calendar('month_calendar'), class: 'btn btn-default' %>
      </div>
    </div>
  </div>

  <table class="table day_table">
    <thead>
    <tr class="table-header">
      <td class="hours">Hours</td>
      <%= content_tag :td, class: calendar.td_classes_for(start_date) do %>
          <h4><%= start_date.strftime('%A') %></h4>
      <% end %>
    </tr>
    </thead>
  </table>

  <table class="table day_table">
    <tbody>
    <tr>
      <td style="border: none">
        <div style="position: relative">
          <div class="day-event-content">
            <table class="table day_table">
              <tbody>
              <tr>
                <td class="hours"></td>
                <%= content_tag :td, class: calendar.td_classes_for(start_date) do %>
                <% end %>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="all_day_row">
            <table class="all_day_table">
              <tr>
                <td class="hours">AllDay</td>
                <td>
                  <div class="all_day_scrollable">
                    <table>
                      <tbody class="all_day_content">
                      <% (sorted_events.select { |key| key === start_date }).each do |pair| %>
                          <% pair.fetch(1).each do |event| %>
                              <% next if !event.all_day %>
                              <tr>
                                <td>
                                  <div class="event"><%= event.title %></div>
                                </td>
                              </tr>
                          <% end %>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="scrollable">
            <div style="position: relative">
              <div>
                <table class="day_table_row">
                  <% (0 .. 84600).step(1800) do |hour| %>
                      <% time = Time.at(hour).utc %>
                      <tr data-time="<%= time.strftime('%H:%M') %>">
                        <td class="hours"><%= time.strftime('%H:%M') %></td>
                        <td colspan="7"></td>
                      </tr>
                  <% end %>
                </table>
              </div>

              <div class="day-event-content">
                <table class="table event_day_table">
                  <tbody>
                  <tr>
                    <td class="hours"></td>
                    <% if (sorted_events.select { |key| key === start_date }).empty? %>
                        <td></td>
                    <% else %>
                        <td>
                          <div style="position: relative">
                            <!--TODO СДЕЛАТЬ РАСЧЕТЫ ЧТОБЫ ABSOLUTE EVENTS НЕ НАСЛАИВАЛИСЬ ДРУГ НА ДРУГА( ПОКА БЕЗ ПОНЯТИЯ КАК ЭТО СДЕЛАТь)-->
                            <!-- TODO ДОБАВИТЬ УСЛОВИЕ ALLDAY(будет меньше проблем в разрезе часов(week,day)), Добавить таблицу для ALLDAY-->
                            <!-- TODO ADD RESIZABLE-->
                            <!-- TODO DRAG AND DROP (нужно больше боли !) -->
                            <% (sorted_events.select { |key| key === start_date }).each do |pair| %>
                                <% pair.fetch(1).each_with_index do |event, index| %>
                                    <% next if event.all_day %>

                                    <% position = index.odd? ? 'right: ' + index.to_s + 'px' : 'left: ' + index.to_s + 'px' %>
                                    <% width = (800/sorted_events.count).to_s + 'px' %>
                                    <% top_position = (event.start_date.hour + (event.start_date.strftime('%M').to_i)/60.0)*220 %>

                                    <% if event.end_date.day - event.start_date.day == 0 %>
                                        <% event_height = ((event.end_date.hour - event.start_date.hour) +
                                            (event.end_date.strftime('%M').to_i - event.start_date.strftime('%M').to_i)/60.0)*220 %>
                                    <% else %>
                                        <% event_height = (24 -(event.start_date.hour + (event.start_date.strftime('%M').to_i)/60.0))*220 %>
                                    <% end %>

                                    <div style="position: relative; display: inline-block">
                                      <div class="event" style="position: absolute; height: <%= event_height %>px; <%= position %>;  top:<%= top_position %>px; width: <%= width %> ">
                                        <%= event.title %>
                                      </div>
                                      <br>
                                    </div>
                                <% end %>
                            <% end %>
                          </div>
                        </td>
                    <% end %>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
