<div class="diary day_calendar">
  <div class="calendar-head">
    <div class="left-panel">
      <%= link_to t('diary.previous', default: 'Пред.'), calendar.prev_page, class: 'btn btn-default' %>
      <%= link_to t('diary.next', default: 'След.'), calendar.next_page, class: 'btn btn-default' %>
      <%= link_to t('diary.today', default: 'Сегодня'), calendar.today, class: 'btn btn-default' %>
    </div>
    <span class="date-title"><%= start_date.strftime('%B %d, %Y') %></span>
    <div class="right-panel">
      <div class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
      <div class="btn-group">
        <%= link_to t('diary.today', default: 'День'), calendar.to_calendar('day_calendar'), class: 'btn btn-default' %>
        <%= link_to t('diary.today', default: 'Неделя'), calendar.to_calendar('week_calendar'), class: 'btn btn-default' %>
        <%= link_to t('diary.today', default: 'Месяц'), calendar.to_calendar('month_calendar'), class: 'btn btn-default' %>
      </div>
    </div>
  </div>

  <table class="table day_table">
    <thead>
    <tr class="table-header">
      <td class="hours">Hours</td>
      <%= content_tag :td, class: calendar.td_classes_for(start_date) do %>
          <h4><%= start_date.strftime('%A') %></h4>
      <% end %>
    </tr>
    </thead>
  </table>

  <table class="table day_table">
    <tbody>
    <tr>
      <td style="border: none">
        <div style="position: relative">
          <div class="day-event-content">
            <table class="table day_table">
              <tbody>
              <tr>
                <td class="hours"></td>
                <%= content_tag :td, class: calendar.td_classes_for(start_date) do %>
                <% end %>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="all_day_row">
            <table class="all_day_table">
              <tr>
                <td class="hours">AllDay</td>
                <td>
                  <div class="all_day_scrollable">
                    <table>
                      <tbody class="all_day_content">
                      <!-- TODO ADD RESIZABLE-->
                      <!-- TODO DRAG AND DROP (нужно больше боли !) -->
                      <% (sorted_events.select { |key| key === start_date}).each do |pair| %>
                          <% pair.fetch(1).each do |event| %>
                              <% next if !event.all_day %>
                              <tr>
                                <td>
                                  <div class="event"><%= event.title %></div>
                                </td>
                              </tr>
                          <% end %>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="scrollable">
            <div style="position: relative">
                <table class="day_table_row">
                  <% (0 .. 84600).step(1800) do |hour| %>
                      <% time = Time.at(hour).utc %>
                      <tr>
                        <td class="hours"><%= time.strftime('%H:%M') %></td>
                        <td></td>
                      </tr>
                  <% end %>
                </table>

                <div class="day-event-content">
                  <table class="table event_day_table">
                    <tbody>
                    <tr>
                      <td class="hours"></td>
                      <%= render partial: 'calendar_templates/hour_events_template', locals: {sorted_events: sorted_events, day: start_date} %>
                    </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>


        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
