<div class="diary month_calendar">
  <div class="calendar-head">
    <div class="left-panel">
      <%= link_to t('diary.previous', default: 'Пред.'), calendar.prev_page, class: 'btn btn-default' %>
      <%= link_to t('diary.next', default: 'След.'), calendar.next_page, class: 'btn btn-default' %>
      <%= link_to t('diary.today', default: 'Сегодня'), calendar.today, class: 'btn btn-default' %>
    </div>
    <span class="date-title"><%= start_date.strftime('%B %Y') %></span>
    <div class="right-panel">
      <div class="btn-group">
        <%= link_to t('diary.today', default: 'День'), calendar.to_calendar('day_calendar'), class: 'btn btn-default' %>
        <%= link_to t('diary.today', default: 'Неделя'), calendar.to_calendar('week_calendar'), class: 'btn btn-default' %>
        <%= link_to t('diary.today', default: 'Месяц'), calendar.to_calendar('month_calendar'), class: 'btn btn-default' %>
      </div>
    </div>
  </div>

  <table class="table month_table">
    <thead>
    <tr class="table-header">
      <td style="border: none">
        <div>
          <table>
            <thead>
            <% date_range.slice(0, 7).each do |day| %>
                <td><%= t('date.abbr_day_names')[day.wday] %></td>
            <% end %>
            </thead>
          </table>
        </div>
      </td>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td style="border: none">
        <div style="position: relative">
          <% date_range.each_slice(7) do |week| %>
              <div style="position: relative">
                <div>
                  <table class="month_table_row">
                    <tr>
                      <% week.each do |day| %>
                          <%= content_tag :td, class: calendar.td_classes_for(day), data: {date: day} do %>
                          <% end %>
                      <% end %>
                    </tr>
                  </table>
                </div>
                <div class="event-content-container scrollable">
                  <table class="month_table_row">
                    <thead>
                    <tr>
                      <% week.each do |day| %>
                          <%= content_tag :th, class: calendar.td_classes_for(day), data: {date: day} do %>
                              <% block.call day.strftime('%d') %>
                          <% end %>
                      <% end %>
                    </tr>
                    </thead>
                    <!-- TODO DRAG AND DROP (нужно больше боли !) -->
                    <!-- TODO ADD RESIZABLE-->
                    <!-- TODO ЕСЛИ НЕ ALLDAY ТО РЕСАЙЗИТЬ НЕЛЬЗЯ-->
                    <!-- TODO ПРИДУМАТЬ КУДА ДЕТЬ ЭТОТ КОД (ТАКОЙ-ЖЕ В WEEK_CALENDAR) МБ ЗАПИХАТЬ В КАКОЙ_НИТЬ ХЭЛПЕР ИЛИ ПРОСТО PARTIAL-->
                    <% (sorted_events.select { |key| !(key.to_a & week.to_a).empty? }).each do |pair| %>
                        <% key = pair.fetch(0) %>

                        <% pair.fetch(1).each do |event| %>
                            <% start_date = event.start_date.to_date %>
                            <% end_date = event.end_date.to_date %>
                            <% start_included = week.include?(start_date) %>
                            <% end_included = week.include?(end_date) %>
                            <% start_date_wday = (start_date.wday + 6) % 7%>
                            <% end_date_wday = 1 + (end_date.wday + 6) % 7%>
                            <tr>
                              <% if week.to_a.include?(start_date) %>
                                  <% (start_date_wday).times do %>
                                      <td></td>
                                  <% end %>
                              <% end %>

                              <!--Если начало и конец на одной неделе-->
                              <% if start_included && end_included%>
                              <td class="event" colspan="<%= end_date_wday - start_date_wday %>">
                              <!--Для длительных событый которые занимают всю неделю+ -->
                              <% elsif key.include?(week.first) && key.include?(week.last) %>
                                  <td class="event" colspan="7">
                              <!--Если только начало на этой неделе-->
                              <% elsif start_included %>
                                  <% max = 7 - start_date_wday %>
                                  <% current = (end_date - start_date).to_i %>
                                  <td class="event" colspan="<%= current > max ? max : current %>">
                              <!--Если только конец на этой неделе-->
                              <% elsif end_included %>
                                  <td class="event" colspan="<%= end_date_wday %>">
                              <% end %>
                                <%= event.title %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                  </table>
                </div>
              </div>
          <% end %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
