<div class="diary week_calendar">
  <div class="calendar-head">
    <div class="left-panel">
      <%= link_to t('diary.previous', default: 'Пред.'), calendar.prev_page, class: 'btn btn-default' %>
      <%= link_to t('diary.next', default: 'След.'), calendar.next_page, class: 'btn btn-default' %>
      <%= link_to t('diary.today', default: 'Сегодня'), calendar.today, class: 'btn btn-default' %>
    </div>
    <span class="date-title"><%= start_date.strftime('%B %Y') %></span>
    <div class="right-panel">
      <div class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
      <div class="btn-group">
        <%= link_to t('diary.today', default: 'День'), calendar.to_calendar('day_calendar'), class: 'btn btn-default' %>
        <%= link_to t('diary.today', default: 'Неделя'), calendar.to_calendar('week_calendar'), class: 'btn btn-default' %>
        <%= link_to t('diary.today', default: 'Месяц'), calendar.to_calendar('month_calendar'), class: 'btn btn-default' %>
      </div>
    </div>
  </div>

  <table class="table week_table droppable_table">
    <thead>
    <tr class="table-header">
      <td class="hours">Hours</td>
      <% date_range.slice(0, 7).each do |day| %>
          <%= content_tag :td, class: calendar.td_classes_for(day) << 'date', data: {date: day} do %>
              <%= day.strftime('%A %d') %>
          <% end %>
      <% end %>
    </tr>
    </thead>
  </table>


  <table class="table week_table">
    <tbody>
    <tr>
      <td style="border: none">
        <div style="position: relative">
          <div class="week-event-content">
            <table class="table week_table">
              <tbody>
              <tr>
                <td class="hours"></td>
                <% date_range.slice(0, 7).each do |day| %>
                    <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                    <% end %>
                <% end %>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="all_day_row">
            <table class="all_day_table">
              <tr>
                <td class="hours">AllDay</td>
                <td>
                  <div class="all_day_scrollable">
                    <table>
                      <tbody class="all_day_content">
                      <!-- TODO DRAG AND DROP (нужно больше боли !) -->
                      <!-- TODO ADD RESIZABLE-->
                      <!-- TODO ЕСЛИ НЕ ALLDAY ТО РЕСАЙЗИТЬ НЕЛЬЗЯ-->
                      <% (sorted_events.select { |key| !(key.to_a & date_range.to_a).empty? }).each do |pair| %>
                          <% key = pair.fetch(0) %>
                          <% events = pair.fetch(1).select { |event| event.all_day } %>
                          <%= render partial: 'calendar_templates/day_events_template', locals: {key: key, events: events, date_range: date_range} %>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="day-scrollable">
            <div style="position: relative">
                <table class="week_table_row">
                  <% (0 .. 84600).step(1800) do |hour| %>
                      <% time = Time.at(hour).utc %>
                      <tr>
                        <td class="hours"><%= time.strftime('%H:%M') %></td>
                        <% date_range.slice(0, 7).each do |day| %>
                          <td></td>
                        <% end %>
                      </tr>
                  <% end %>
                </table>


              <div class="week-event-content">
                <table class="table event_week_table">
                  <tbody>
                  <tr>
                    <td class="hours"></td>
                    <% date_range.slice(0, 7).each do |day| %>
                        <%= render partial: 'calendar_templates/hour_events_template', locals: {sorted_events: sorted_events, day: day} %>
                    <% end %>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </td>

    </tr>
    </tbody>
  </table>

</div>


